<a href="https://colab.research.google.com/github/LexAguirre/Course_Data_and_analytics/blob/main/Sesi%C3%B3n_N%C2%B0_04_Python_Para_Data_Science_Pandas_21_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![programa py.png]()

#DATA & ANALYTICS

----------------------------
PYTHON PARA DATA SCIENCE DESDE CERO
----------------------------

SESIÓN N° 04. Pandas

Instructor: Ing. Yaneth Ccahuantico

E-mail: yane.data@gmail.com

www.datayanalytics.com

# PANDAS

![PPANDAS.png]()

Pandas - Python es una libreria como extensión de la librería NumPy; este sirve para manipulación y análisis de datos.

Pandas es bidimensional con columnas de diferentes tipos de datos.

In [1]:
# importamos las librerías
import numpy as np
import pandas as pd

In [2]:
# Creamos una lista

Lista1 = [10, 3, 4, 5, np.nan, 7, 11, 15, np.nan] # nuestra lista contiene una data perdida
Lista1

[10, 3, 4, 5, nan, 7, 11, 15, nan]

## Series 

Es la estructura más simple que proporciona Pandas, esta se asemeja a una columna en una hoja de cálculo de Excel.

Un "objeto Series" tiene dos componentes principales: 
- Un índice y,
- Un vector de datos

Ambos componentes son listas con la misma longitud.

![SeriesES.png]()

In [3]:
# Convertimos la lista en una Serie

serie1 = pd.Series(Lista1)
serie1

0    10.0
1     3.0
2     4.0
3     5.0
4     NaN
5     7.0
6    11.0
7    15.0
8     NaN
dtype: float64

In [4]:
#Convirtiendo una Lista en un DataFrame

df1 = pd.DataFrame(Lista1)
df1

      0
0  10.0
1   3.0
2   4.0
3   5.0
4   NaN
5   7.0
6  11.0
7  15.0
8   NaN

In [5]:
# Generando DataFrame con números aleatorios

np.random.seed(123451)

df2 = pd.DataFrame(             #  F, C
    data=np.random.randint(0, 11, (10, 5)) ,    # valores entre 0 y 10, en 10 filas y 5 columnas
    columns=["a", "b", "c", "d", "e"]
    )

df2

    a   b   c  d   e
0   2   3   4  7   7
1   6   9   3  6  10
2  10   7   5  2   2
3   8   9  10  4  10
4   1   9   2  8  10
5   3   6   9  1   0
6   7  10   9  5   7
7   7   9  10  2   6
8   1   0   0  6   6
9  10   9   3  0   0

In [ ]:
# DataFrame con Etiqueta en el Index de
np.random.seed(1234567)

df3 = pd.DataFrame(
    data=np.random.randint(0, 11, (10,5)), # [ > 
    index=pd.date_range("20230101", periods=10), # Index
    columns=["a", "b", "c", "d", "e"]
    )
#df3
df3['ID'] = ["id" + str(i) for i in range(1,11)]  # [ > añadiendo una columna al DataFrame
df3

In [7]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2023-01-01 to 2023-01-10
Freq: D
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       10 non-null     int64
 1   b       10 non-null     int64
 2   c       10 non-null     int64
 3   d       10 non-null     int64
 4   e       10 non-null     int64
 5   ID      10 non-null     object
dtypes: int64(5), object(1)
memory usage: 560.0+ bytes

## Atributos del DataFrame

In [8]:
df3.mean()

<ipython-input-8-e585dc5367fc>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df3.mean()

a    2.6
b    5.8
c    6.0
d    4.8
e    5.3
dtype: float64

In [10]:
n = ["a", "b", "c", "d"]

df3[n].min()  #<TAB>

a    0
b    0
c    0
d    2
dtype: int64

## Viendo la Data

In [11]:
df3.head() # nos muestra las 1ras 5 filas

            a  b   c  d   e   ID
2023-01-01  3  4   6  5   2  id1
2023-01-02  0  0  10  3   0  id2
2023-01-03  2  5   3  2   7  id3
2023-01-04  4  7   6  3   1  id4
2023-01-05  0  7   6  4  10  id5

In [12]:
df3.sample(3) # nos muestra las 1ras 3 filas

            a  b   c  d   e   ID
2023-01-03  2  5   3  2   7  id3
2023-01-05  0  7   6  4  10  id5
2023-01-02  0  0  10  3   0  id2

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2022-01-01 to 2022-01-10
Freq: D
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       10 non-null     int64
 1   b       10 non-null     int64
 2   c       10 non-null     int64
 3   d       10 non-null     int64
 4   e       10 non-null     int64
 5   ID      10 non-null     object
dtypes: int64(5), object(1)
memory usage: 560.0+ bytes

In [13]:
df3.tail() # nos muestra las últimas 5 filas

            a   b   c   d   e    ID
2023-01-06  6  10   0   8   0   id6
2023-01-07  2   9   2   6   9   id7
2023-01-08  5   8  10   2   7   id8
2023-01-09  4   7  10  10  10   id9
2023-01-10  0   1   7   5   7  id10

In [14]:
df3.tail(4) # nos muestra las últimas 2 filas

            a  b   c   d   e    ID
2023-01-07  2  9   2   6   9   id7
2023-01-08  5  8  10   2   7   id8
2023-01-09  4  7  10  10  10   id9
2023-01-10  0  1   7   5   7  id10

In [15]:
df3.sample(5)

            a   b   c  d   e   ID
2023-01-05  0   7   6  4  10  id5
2023-01-02  0   0  10  3   0  id2
2023-01-01  3   4   6  5   2  id1
2023-01-06  6  10   0  8   0  id6
2023-01-08  5   8  10  2   7  id8

In [16]:
x = df3.index  # Index del DataFrame
x

DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10'],
              dtype='datetime64[ns]', freq='D')

In [17]:
df3.columns  #Los nombres de las columnas

Index(['a', 'b', 'c', 'd', 'e', 'ID'], dtype='object')

## Convertir en un Array

Array: tipo de dato estructurado que permite almacenar un conjunto de datos del mismo tipo.

In [18]:
df3

            a   b   c   d   e    ID
2023-01-01  3   4   6   5   2   id1
2023-01-02  0   0  10   3   0   id2
2023-01-03  2   5   3   2   7   id3
2023-01-04  4   7   6   3   1   id4
2023-01-05  0   7   6   4  10   id5
2023-01-06  6  10   0   8   0   id6
2023-01-07  2   9   2   6   9   id7
2023-01-08  5   8  10   2   7   id8
2023-01-09  4   7  10  10  10   id9
2023-01-10  0   1   7   5   7  id10

In [19]:
l = ['a', 'b', 'c', 'd', 'e'] # nombres de las columnas seleccionadas

df3[l].to_numpy()  # no incluye el index o nombres de las columnas

array([[ 3,  4,  6,  5,  2],
       [ 0,  0, 10,  3,  0],
       [ 2,  5,  3,  2,  7],
       [ 4,  7,  6,  3,  1],
       [ 0,  7,  6,  4, 10],
       [ 6, 10,  0,  8,  0],
       [ 2,  9,  2,  6,  9],
       [ 5,  8, 10,  2,  7],
       [ 4,  7, 10, 10, 10],
       [ 0,  1,  7,  5,  7]])

## Summary

In [20]:
df3.describe()  # Resumen resultados descriptivos  - de las variables numéricas

               a         b          c          d          e
count  10.000000  10.00000  10.000000  10.000000  10.000000
mean    2.600000   5.80000   6.000000   4.800000   5.300000
std     2.170509   3.29309   3.496029   2.616189   4.110961
min     0.000000   0.00000   0.000000   2.000000   0.000000
25%     0.500000   4.25000   3.750000   3.000000   1.250000
50%     2.500000   7.00000   6.000000   4.500000   7.000000
75%     4.000000   7.75000   9.250000   5.750000   8.500000
max     6.000000  10.00000  10.000000  10.000000  10.000000

In [21]:
df3.describe().T  #Resultados transpuestos

   count  mean       std  min   25%  50%   75%   max
a   10.0   2.6  2.170509  0.0  0.50  2.5  4.00   6.0
b   10.0   5.8  3.293090  0.0  4.25  7.0  7.75  10.0
c   10.0   6.0  3.496029  0.0  3.75  6.0  9.25  10.0
d   10.0   4.8  2.616189  2.0  3.00  4.5  5.75  10.0
e   10.0   5.3  4.110961  0.0  1.25  7.0  8.50  10.0

In [22]:
df3.median() # obtiene la mediana

<ipython-input-22-d1b2c5456f32>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df3.median() # obtiene la mediana

a    2.5
b    7.0
c    6.0
d    4.5
e    7.0
dtype: float64

In [23]:
df3.dtypes # Tipos de datos que tienen las columnas

a      int64
b      int64
c      int64
d      int64
e      int64
ID    object
dtype: object

In [24]:
# 1 columna del DataFrame = Serie

#df3.a # df3$a

#df3['a'] # "ciudad vive"

df3['b'] * (df3['a'] + 20)

2023-01-01     92
2023-01-02      0
2023-01-03    110
2023-01-04    168
2023-01-05    140
2023-01-06    260
2023-01-07    198
2023-01-08    200
2023-01-09    168
2023-01-10     20
Freq: D, dtype: int64

In [25]:
len(df3['a'])

10

In [26]:
# frecuencia absoluta
df3['a'].value_counts()

0    3
2    2
4    2
3    1
6    1
5    1
Name: a, dtype: int64

In [27]:
# frecuencia relativa
100 * df3['e'].value_counts() / len(df3['e'])

7     30.0
0     20.0
10    20.0
2     10.0
1     10.0
9     10.0
Name: e, dtype: float64

# Ordenando

In [30]:
df3.sort_values('a').tail(2) # ordenando por una columna, por default Ascendente

            a   b   c  d  e   ID
2023-01-08  5   8  10  2  7  id8
2023-01-06  6  10   0  8  0  id6

In [37]:
a = df3.sort_values('a', ascending=False).head(5)  # ordenando por una columna, descendentemente
a

            a   b   c   d   e   ID
2023-01-06  6  10   0   8   0  id6
2023-01-08  5   8  10   2   7  id8
2023-01-04  4   7   6   3   1  id4
2023-01-09  4   7  10  10  10  id9
2023-01-01  3   4   6   5   2  id1

In [32]:
df3  #la data sigue sin ningún cambio

            a   b   c   d   e    ID
2023-01-01  3   4   6   5   2   id1
2023-01-02  0   0  10   3   0   id2
2023-01-03  2   5   3   2   7   id3
2023-01-04  4   7   6   3   1   id4
2023-01-05  0   7   6   4  10   id5
2023-01-06  6  10   0   8   0   id6
2023-01-07  2   9   2   6   9   id7
2023-01-08  5   8  10   2   7   id8
2023-01-09  4   7  10  10  10   id9
2023-01-10  0   1   7   5   7  id10

In [38]:
df3a = df3.sort_values('a', ascending=False).sample(3) # se guardará el cambio en otro dataframe
df3a

            a  b  c  d  e   ID
2023-01-04  4  7  6  3  1  id4
2023-01-07  2  9  2  6  9  id7
2023-01-01  3  4  6  5  2  id1

### Ordenando con Datos Perdidos

In [39]:
# ponemos nobre a nuestro dataframe
df1.columns = ['Col1']
df1

   Col1
0  10.0
1   3.0
2   4.0
3   5.0
4   NaN
5   7.0
6  11.0
7  15.0
8   NaN

In [40]:
df1.sort_values('Col1', na_position='first', inplace=True) # datos perdidos al inicio

In [41]:
df1 # la dta sigue con los datos en el orden original.

   Col1
4   NaN
8   NaN
1   3.0
2   4.0
3   5.0
5   7.0
0  10.0
6  11.0
7  15.0

Si deseamos ordenar sin hacerlo en otro Objeto "Data Frame", utilizamos **inplace**

In [42]:
df1.sort_values('Col1', na_position='last', ascending=False, inplace=True) # con los datos perdidos al final
df1

   Col1
7  15.0
6  11.0
0  10.0
5   7.0
3   5.0
2   4.0
1   3.0
4   NaN
8   NaN

### Ordenando por varias columnas

In [43]:
# Ordenar por mas de 1 columna

nom = ['a', 'b']

df3.sort_values(nom, inplace=True) # ordenando por 2 columnas
df3

            a   b   c   d   e    ID
2023-01-02  0   0  10   3   0   id2
2023-01-10  0   1   7   5   7  id10
2023-01-05  0   7   6   4  10   id5
2023-01-03  2   5   3   2   7   id3
2023-01-07  2   9   2   6   9   id7
2023-01-01  3   4   6   5   2   id1
2023-01-04  4   7   6   3   1   id4
2023-01-09  4   7  10  10  10   id9
2023-01-08  5   8  10   2   7   id8
2023-01-06  6  10   0   8   0   id6

In [44]:
df3.sort_values(by="d")

            a   b   c   d   e    ID
2023-01-03  2   5   3   2   7   id3
2023-01-08  5   8  10   2   7   id8
2023-01-02  0   0  10   3   0   id2
2023-01-04  4   7   6   3   1   id4
2023-01-05  0   7   6   4  10   id5
2023-01-10  0   1   7   5   7  id10
2023-01-01  3   4   6   5   2   id1
2023-01-07  2   9   2   6   9   id7
2023-01-06  6  10   0   8   0   id6
2023-01-09  4   7  10  10  10   id9

### Ordenando en base al Index

In [49]:
df3 = df3.sort_index() # recuperamos el index
#df3

# df3.sort_index(inplace=True)
df3

            a   b   c   d   e    ID
2023-01-01  3   4   6   5   2   id1
2023-01-02  0   0  10   3   0   id2
2023-01-03  2   5   3   2   7   id3
2023-01-04  4   7   6   3   1   id4
2023-01-05  0   7   6   4  10   id5
2023-01-06  6  10   0   8   0   id6
2023-01-07  2   9   2   6   9   id7
2023-01-08  5   8  10   2   7   id8
2023-01-09  4   7  10  10  10   id9
2023-01-10  0   1   7   5   7  id10

## Obteniendo Filas, Columnas...

Siendo que: df['col'] = df.col 

Métodos: .at, .iat, .loc and .ilo

In [50]:
#df3.e  # el resultado es una serie

df3["ID"]

2023-01-01     id1
2023-01-02     id2
2023-01-03     id3
2023-01-04     id4
2023-01-05     id5
2023-01-06     id6
2023-01-07     id7
2023-01-08     id8
2023-01-09     id9
2023-01-10    id10
Name: ID, dtype: object

### Filas

In [51]:
 # Extracción de filas   -----------> Forward
 df3[0:5]  #index 0 al 3-1 --> 0, 1, 2

            a  b   c  d   e   ID
2023-01-01  3  4   6  5   2  id1
2023-01-02  0  0  10  3   0  id2
2023-01-03  2  5   3  2   7  id3
2023-01-04  4  7   6  3   1  id4
2023-01-05  0  7   6  4  10  id5

In [53]:
df3[6:8] #index 2 al 4-1  --> 2, 3 --> [ >

            a  b   c  d  e   ID
2023-01-07  2  9   2  6  9  id7
2023-01-08  5  8  10  2  7  id8

In [54]:
df3["20220105":"20220108"] # Seleccionando filas según rango de nombres de los Index.

Empty DataFrame
Columns: [a, b, c, d, e, ID]
Index: []

In [55]:
df3[1:5] # index 0 y 1  --> [ >

            a  b   c  d   e   ID
2023-01-02  0  0  10  3   0  id2
2023-01-03  2  5   3  2   7  id3
2023-01-04  4  7   6  3   1  id4
2023-01-05  0  7   6  4  10  id5

In [56]:
df3

            a   b   c   d   e    ID
2023-01-01  3   4   6   5   2   id1
2023-01-02  0   0  10   3   0   id2
2023-01-03  2   5   3   2   7   id3
2023-01-04  4   7   6   3   1   id4
2023-01-05  0   7   6   4  10   id5
2023-01-06  6  10   0   8   0   id6
2023-01-07  2   9   2   6   9   id7
2023-01-08  5   8  10   2   7   id8
2023-01-09  4   7  10  10  10   id9
2023-01-10  0   1   7   5   7  id10

### Columnas

In [57]:
df3.columns

Index(['a', 'b', 'c', 'd', 'e', 'ID'], dtype='object')

In [58]:
df3.loc[:, ["b", "ID"]] # Selección de columnas c y d

             b    ID
2023-01-01   4   id1
2023-01-02   0   id2
2023-01-03   5   id3
2023-01-04   7   id4
2023-01-05   7   id5
2023-01-06  10   id6
2023-01-07   9   id7
2023-01-08   8   id8
2023-01-09   7   id9
2023-01-10   1  id10

In [61]:
df3.loc["20230104":"20220107", ["c", "ID"]]  # seleccion de filas y columnas

Empty DataFrame
Columns: [c, ID]
Index: []

In [62]:
#            F    ,     C
df3.loc["20230104", ["a", "c", "e"]] # 1 index y 2 columnas

a    4
c    6
e    1
Name: 2023-01-04 00:00:00, dtype: object

In [64]:
df3.loc["20230104", "d"]  # valor en una Fila y Columna

3

### Selección por Index

iloc

In [ ]:
df3.iloc[5] # seleccionando Index 5

a       6
b      10
c       0
d       8
e       0
ID    id6
Name: 2022-01-06 00:00:00, dtype: object

In [ ]:
df3.iloc[:, 2:4]  # [ >

             c   d
2022-01-01   6   5
2022-01-02  10   3
2022-01-03   3   2
2022-01-04   6   3
2022-01-05   6   4
2022-01-06   0   8
2022-01-07   2   6
2022-01-08  10   2
2022-01-09  10  10
2022-01-10   7   5

In [ ]:
df3.iloc[1:4, 0:2] # Por Index Filas (1 al 4-1)  e Index Columnas (0 al 2-1)

            a  b
2022-01-02  0  0
2022-01-03  2  5
2022-01-04  4  7

In [ ]:
# Seleccionando Filas y COlumnas definidas en listas

Filas = [1, 3, 5]    # Index
Columnas = [2, 4]     # Index

df3.iloc[Filas, Columnas]

             c  e
2022-01-02  10  0
2022-01-04   6  1
2022-01-06   0  0

In [ ]:
# Ciertas Filas, todas las columnas
#         F , C
df3.iloc[0:3, :] # filas: index 0 hasta el index 2-1

            a  b   c  d  e   ID
2022-01-01  3  4   6  5  2  id1
2022-01-02  0  0  10  3  0  id2
2022-01-03  2  5   3  2  7  id3

In [ ]:
# Todas las filas  y ciertas columnas, según index
df3.iloc[:, 0:2]   #Index colunas: 0 al (2 - 1)

            a   b
2022-01-01  3   4
2022-01-02  0   0
2022-01-03  2   5
2022-01-04  4   7
2022-01-05  0   7
2022-01-06  6  10
2022-01-07  2   9
2022-01-08  5   8
2022-01-09  4   7
2022-01-10  0   1

In [ ]:
# Extrayendo un valor en particular
print("Con iloc:", df3.iloc[5, 3]) # Index fila 0 con Index columna 1
print("Con iat:" , df3.iat[5, 3]) # Index fila 0 con Index columna 1

Con iloc: 8
Con iat: 8

In [ ]:
df3 # cargamos

            a   b   c   d   e    ID
2022-01-01  3   4   6   5   2   id1
2022-01-02  0   0  10   3   0   id2
2022-01-03  2   5   3   2   7   id3
2022-01-04  4   7   6   3   1   id4
2022-01-05  0   7   6   4  10   id5
2022-01-06  6  10   0   8   0   id6
2022-01-07  2   9   2   6   9   id7
2022-01-08  5   8  10   2   7   id8
2022-01-09  4   7  10  10  10   id9
2022-01-10  0   1   7   5   7  id10

### Según valores en las columnas "variables"

In [ ]:
# COndición
l= ['a', 'b', 'c']

a1 = df3[l][df3["a"] >= 4]  #según columna "a" cumpla con la condición 
a1

            a   b   c
2022-01-04  4   7   6
2022-01-06  6  10   0
2022-01-08  5   8  10
2022-01-09  4   7  10

In [ ]:
# COndición
col_nums = ['a', 'b', 'c', 'd', 'e']
df3[col_nums][df3[col_nums] < 8]  # Todo valor <=3 será cambiado por "NaN"

            a    b    c    d    e
2022-01-01  3  4.0  6.0  5.0  2.0
2022-01-02  0  0.0  NaN  3.0  0.0
2022-01-03  2  5.0  3.0  2.0  7.0
2022-01-04  4  7.0  6.0  3.0  1.0
2022-01-05  0  7.0  6.0  4.0  NaN
2022-01-06  6  NaN  0.0  NaN  0.0
2022-01-07  2  NaN  2.0  6.0  NaN
2022-01-08  5  NaN  NaN  2.0  7.0
2022-01-09  4  7.0  NaN  NaN  NaN
2022-01-10  0  1.0  7.0  5.0  7.0

In [ ]:
# Añadimos una columna a nuestro DataFrame 
df4 = df3.copy() 
df4["f"] = ["Femenino", "Masculino", "Masculino", "Femenino", "Masculino", "Femenino", "Masculino", "Femenino", "Masculino", "Femenino"]

df4

            a   b   c   d   e    ID          f
2022-01-01  3   4   6   5   2   id1   Femenino
2022-01-02  0   0  10   3   0   id2  Masculino
2022-01-03  2   5   3   2   7   id3  Masculino
2022-01-04  4   7   6   3   1   id4   Femenino
2022-01-05  0   7   6   4  10   id5  Masculino
2022-01-06  6  10   0   8   0   id6   Femenino
2022-01-07  2   9   2   6   9   id7  Masculino
2022-01-08  5   8  10   2   7   id8   Femenino
2022-01-09  4   7  10  10  10   id9  Masculino
2022-01-10  0   1   7   5   7  id10   Femenino

### Método "isin" para filtrar

DataFrame[Condición]

In [ ]:
fs = ["Femenino"]       #lista de valores String

df4[df4["f"].isin(fs)]  # Filtraremos solo aquellos cuyos valores sean los indicados en la lista fs

            a   b   c  d  e    ID         f
2022-01-01  3   4   6  5  2   id1  Femenino
2022-01-04  4   7   6  3  1   id4  Femenino
2022-01-06  6  10   0  8  0   id6  Femenino
2022-01-08  5   8  10  2  7   id8  Femenino
2022-01-10  0   1   7  5  7  id10  Femenino

In [ ]:
cs = [0, 2, 10]       #lista de valores numéricos
df4[df4["c"].isin(cs)]  # Filtraremos solo aquellos cuyos valores sean los indicados en la lista cs

            a   b   c   d   e   ID          f
2022-01-02  0   0  10   3   0  id2  Masculino
2022-01-06  6  10   0   8   0  id6   Femenino
2022-01-07  2   9   2   6   9  id7  Masculino
2022-01-08  5   8  10   2   7  id8   Femenino
2022-01-09  4   7  10  10  10  id9  Masculino

# Datos perdidos

Presentado como: np.nan

In [ ]:
# Generando DataFrame con datos missing

df5 = df3[df3 != 7] # condición   si df3 >= 2; mantendrà los resultados; NaN

#df5.reset_index(inplace = True) # quitamos las etiquetas a las filas
df5

            a     b     c   d     e    ID
2022-01-01  3   4.0   6.0   5   2.0   id1
2022-01-02  0   0.0  10.0   3   0.0   id2
2022-01-03  2   5.0   3.0   2   NaN   id3
2022-01-04  4   NaN   6.0   3   1.0   id4
2022-01-05  0   NaN   6.0   4  10.0   id5
2022-01-06  6  10.0   0.0   8   0.0   id6
2022-01-07  2   9.0   2.0   6   9.0   id7
2022-01-08  5   8.0  10.0   2   NaN   id8
2022-01-09  4   NaN  10.0  10  10.0   id9
2022-01-10  0   1.0   NaN   5   NaN  id10

In [ ]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10 entries, 2022-01-01 to 2022-01-10
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       10 non-null     int64
 1   b       7 non-null      float64
 2   c       9 non-null      float64
 3   d       10 non-null     int64
 4   e       7 non-null      float64
 5   ID      10 non-null     object
dtypes: float64(3), int64(2), object(1)
memory usage: 860.0+ bytes

In [ ]:
# opciones de tratamiento de NaN

df5.loc["2022-01-06":"2022-01-07","a":"c"] = 1500  # reemplazo de valores en el DataFrame
                                                # una razòn por la que tenemos el NaN
df5

               a       b       c   d     e    ID
2022-01-01     3     4.0     6.0   5   2.0   id1
2022-01-02     0     0.0    10.0   3   0.0   id2
2022-01-03     2     5.0     3.0   2   NaN   id3
2022-01-04     4     NaN     6.0   3   1.0   id4
2022-01-05     0     NaN     6.0   4  10.0   id5
2022-01-06  1500  1500.0  1500.0   8   0.0   id6
2022-01-07  1500  1500.0  1500.0   6   9.0   id7
2022-01-08     5     8.0    10.0   2   NaN   id8
2022-01-09     4     NaN    10.0  10  10.0   id9
2022-01-10     0     1.0     NaN   5   NaN  id10

In [ ]:
# Corregir toda la fila
df5.loc["2022-01-08"] = [100, 200, 300, 400, 500, 'id12'] # modificando los valores de una fila
df5

               a       b       c    d      e    ID
2022-01-01     3     4.0     6.0    5    2.0   id1
2022-01-02     0     0.0    10.0    3    0.0   id2
2022-01-03     2     5.0     3.0    2    NaN   id3
2022-01-04     4     NaN     6.0    3    1.0   id4
2022-01-05     0     NaN     6.0    4   10.0   id5
2022-01-06  1500  1500.0  1500.0    8    0.0   id6
2022-01-07  1500  1500.0  1500.0    6    9.0   id7
2022-01-08   100   200.0   300.0  400  500.0  id12
2022-01-09     4     NaN    10.0   10   10.0   id9
2022-01-10     0     1.0     NaN    5    NaN  id10

In [ ]:
# modificar / corregir 1 celda
df5.iloc[2, 4] = 5000  # reemplazamos un dato perdido por su ubicación con 4
df5

               a       b       c    d       e    ID
2022-01-01     3     4.0     6.0    5     2.0   id1
2022-01-02     0     0.0    10.0    3     0.0   id2
2022-01-03     2     5.0     3.0    2  5000.0   id3
2022-01-04     4     NaN     6.0    3     1.0   id4
2022-01-05     0     NaN     6.0    4    10.0   id5
2022-01-06  1500  1500.0  1500.0    8     0.0   id6
2022-01-07  1500  1500.0  1500.0    6     9.0   id7
2022-01-08   100   200.0   300.0  400   500.0  id12
2022-01-09     4     NaN    10.0   10    10.0   id9
2022-01-10     0     1.0     NaN    5     NaN  id10

In [ ]:
df5a = df5.copy()

df5a.dropna(how="any") # retirar todas las filas que tengan datos perdidas

               a       b       c    d       e    ID
2022-01-01     3     4.0     6.0    5     2.0   id1
2022-01-02     0     0.0    10.0    3     0.0   id2
2022-01-03     2     5.0     3.0    2  5000.0   id3
2022-01-06  1500  1500.0  1500.0    8     0.0   id6
2022-01-07  1500  1500.0  1500.0    6     9.0   id7
2022-01-08   100   200.0   300.0  400   500.0  id12

In [ ]:
df5b = df5.copy()
df5b.fillna(value=-8000)  # imputación  -> Razón

               a       b       c    d       e    ID
2022-01-01     3     4.0     6.0    5     2.0   id1
2022-01-02     0     0.0    10.0    3     0.0   id2
2022-01-03     2     5.0     3.0    2  5000.0   id3
2022-01-04     4 -8000.0     6.0    3     1.0   id4
2022-01-05     0 -8000.0     6.0    4    10.0   id5
2022-01-06  1500  1500.0  1500.0    8     0.0   id6
2022-01-07  1500  1500.0  1500.0    6     9.0   id7
2022-01-08   100   200.0   300.0  400   500.0  id12
2022-01-09     4 -8000.0    10.0   10    10.0   id9
2022-01-10     0     1.0 -8000.0    5 -8000.0  id10

In [ ]:
pd.isna(df5) # respuesta booleana 

# Tiene dato perdido: True

                a      b      c      d      e     ID
2022-01-01  False  False  False  False  False  False
2022-01-02  False  False  False  False  False  False
2022-01-03  False  False  False  False  False  False
2022-01-04  False   True  False  False  False  False
2022-01-05  False   True  False  False  False  False
2022-01-06  False  False  False  False  False  False
2022-01-07  False  False  False  False  False  False
2022-01-08  False  False  False  False  False  False
2022-01-09  False   True  False  False  False  False
2022-01-10  False  False   True  False   True  False

In [ ]:
df5.isnull().sum()  # total datos perdidos por columna

a     0
b     3
c     1
d     0
e     1
ID    0
dtype: int64

In [ ]:
df5.fillna(df5.median(), inplace=True)  # imputación paramétrica
df5

<ipython-input-80-fd9d498c8190>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df5.fillna(df5.median(), inplace=True)  # imputación paramétrica

               a       b       c    d       e    ID
2022-01-01     3     4.0     6.0    5     2.0   id1
2022-01-02     0     0.0    10.0    3     0.0   id2
2022-01-03     2     5.0     3.0    2  5000.0   id3
2022-01-04     4     5.0     6.0    3     1.0   id4
2022-01-05     0     5.0     6.0    4    10.0   id5
2022-01-06  1500  1500.0  1500.0    8     0.0   id6
2022-01-07  1500  1500.0  1500.0    6     9.0   id7
2022-01-08   100   200.0   300.0  400   500.0  id12
2022-01-09     4     5.0    10.0   10    10.0   id9
2022-01-10     0     1.0    10.0    5     9.0  id10

In [ ]:
# Filas que tienen NAN 
a= df5.T.isnull().sum()
a.sort_values(ascending = False) #.head(5)

2022-01-10    2
2022-01-03    1
2022-01-04    1
2022-01-05    1
2022-01-08    1
2022-01-09    1
2022-01-01    0
2022-01-02    0
2022-01-06    0
2022-01-07    0
dtype: int64

# Operaciones

## Cálculos estadísticos

In [ ]:
print(df5.mean()) # la media de todas las columnas
print("-"*30)
print(df5.sum())

a    311.3
b    322.5
c    335.1
d     44.6
e    554.1
dtype: float64
------------------------------
a                                 3113
b                               3225.0
c                               3351.0
d                                  446
e                               5541.0
ID    id1id2id3id4id5id6id7id12id9id10
dtype: object

<ipython-input-81-95e99cceb70a>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  print(df5.mean()) # la media de todas las columnas

In [ ]:
df5.mean(0).round(3)  #media de una columna en particular = index 0

<ipython-input-82-0322cf20ce94>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df5.mean(0).round(3)  #media de una columna en particular = index 0

a    311.3
b    322.5
c    335.1
d     44.6
e    554.1
dtype: float64

In [ ]:
a = df5["a"].mean()  # media de una columna por nombre
print("media de la columna a: ", round(a, 2))

media de la columna a:  311.3

## Apply

Aplicar funciones a la data que existe en el DataFrame

In [ ]:
col_nums = ['a', 'b', 'c', 'd', 'e']
col_nums

['a', 'b', 'c', 'd', 'e']

In [ ]:
df5

               a       b       c    d       e    ID
2022-01-01     3     4.0     6.0    5     2.0   id1
2022-01-02     0     0.0    10.0    3     0.0   id2
2022-01-03     2     5.0     3.0    2  5000.0   id3
2022-01-04     4     5.0     6.0    3     1.0   id4
2022-01-05     0     5.0     6.0    4    10.0   id5
2022-01-06  1500  1500.0  1500.0    8     0.0   id6
2022-01-07  1500  1500.0  1500.0    6     9.0   id7
2022-01-08   100   200.0   300.0  400   500.0  id12
2022-01-09     4     5.0    10.0   10    10.0   id9
2022-01-10     0     1.0    10.0    5     9.0  id10

In [ ]:
df5[col_nums].apply(lambda x: x.mean()/10*100).round(2) # media de las columnas redondeando los resultados a 2 decimales
 
# x= serie = una de las columnas de DF  = variable
#df5["b"].mean()

a    3113.0
b    3225.0
c    3351.0
d     446.0
e    5541.0
dtype: float64

In [ ]:
df5[col_nums].apply(lambda x: x.isnull().sum())  # total valores perdidos por columnas

a    0
b    0
c    0
d    0
e    0
dtype: int64

In [ ]:
df5[col_nums].apply(lambda x: x.std()/x.mean()).round(4)*100 # Coeficiente de Variación %

a    201.49
b    193.37
c    185.23
d    280.04
e    283.32
dtype: float64

In [ ]:
df5[col_nums].apply(lambda x: x.sum()/x.max()*200).round(3) # suma total columna

a    415.067
b    430.000
c    446.800
d    223.000
e    221.640
dtype: float64

In [ ]:
# Añadiendo variables y cálculos con Apply

np.random.seed(123451)

df2 = pd.DataFrame(             #  F, C
    data=np.random.randint(0, 11, (10, 3)) ,    # valores entre 0 y 10, en 10 filas y 5 columnas
    columns=["a", "b", "c"]
    )

df2 = (     # añadiendo variables con lambda
    df2
    .assign(c3 = lambda x: x.a**2 + 10*x.b - 10) 
    .assign(c4 = lambda x: x.b*x.c)
    .assign(c5 = lambda x: np.sqrt(x.c).round(2))
    .assign(c6 = lambda x: round((x.a + x.b + x.c)/3, 3) )   
    
)

df2

    a   b   c   c3  c4    c5     c6
0   2   3   4   24  12  2.00  3.000
1   7   7   6  109  42  2.45  6.667
2   9   3   6  101  18  2.45  6.000
3  10  10   7  190  70  2.65  9.000
4   5   2   2   35   4  1.41  3.000
5   8   9  10  144  90  3.16  9.000
6   4  10   1  106  10  1.00  5.000
7   9   2   8   91  16  2.83  6.333
8  10   3   6  120  18  2.45  6.333
9   9   1   0   81   0  0.00  3.333

# Agrupación "Group By"

In [ ]:
# Cálculo estadístico por las categorías de una variable
df4

            a   b   c   d   e    ID          f
2022-01-01  3   4   6   5   2   id1   Femenino
2022-01-02  0   0  10   3   0   id2  Masculino
2022-01-03  2   5   3   2   7   id3  Masculino
2022-01-04  4   7   6   3   1   id4   Femenino
2022-01-05  0   7   6   4  10   id5  Masculino
2022-01-06  6  10   0   8   0   id6   Femenino
2022-01-07  2   9   2   6   9   id7  Masculino
2022-01-08  5   8  10   2   7   id8   Femenino
2022-01-09  4   7  10  10  10   id9  Masculino
2022-01-10  0   1   7   5   7  id10   Femenino

In [ ]:
df4.groupby("f").mean()  # media según valores de la columna f

             a    b    c    d    e
f
Femenino   3.6  6.0  5.8  4.6  3.4
Masculino  1.6  5.6  6.2  5.0  7.2

In [ ]:
df4.groupby('f')['a'].sum()  # para una columna en particular

f
Femenino     18
Masculino     8
Name: a, dtype: int64

In [ ]:
df6 = df4.copy()
df6["g"] = ["R", "N", "R", "N", "R", "N", "N", "N", "N", "N"]  # añadimos una columna cualitativa

lc = ["f", "g"]  # lista de columnas para agrupamiento          
col_nums = ["a",	"b",	"e"]

df6.groupby(lc)[col_nums].mean().round(2)

                a     b     e
f         g
Femenino  N  3.75  6.50  3.75
          R  3.00  4.00  2.00
Masculino N  2.00  5.33  6.33
          R  1.00  6.00  8.50

In [ ]:
df6

            a   b   c   d   e    ID          f  g
2022-01-01  3   4   6   5   2   id1   Femenino  R
2022-01-02  0   0  10   3   0   id2  Masculino  N
2022-01-03  2   5   3   2   7   id3  Masculino  R
2022-01-04  4   7   6   3   1   id4   Femenino  N
2022-01-05  0   7   6   4  10   id5  Masculino  R
2022-01-06  6  10   0   8   0   id6   Femenino  N
2022-01-07  2   9   2   6   9   id7  Masculino  N
2022-01-08  5   8  10   2   7   id8   Femenino  N
2022-01-09  4   7  10  10  10   id9  Masculino  N
2022-01-10  0   1   7   5   7  id10   Femenino  N

In [ ]:
df6.groupby("f").size()/10*100  # frecuencia

f
Femenino     50.0
Masculino    50.0
dtype: float64

# Unir DataFrames

![join.png]()

### Tipo: Outer

In [ ]:
# generamos data para nuestros ejemplos
df1 = df4.sample(4)
df1 = df1.reset_index(drop=True)   # 3 * 7
df1

   a  b   c  d   e    ID          f
0  2  5   3  2   7   id3  Masculino
1  0  7   6  4  10   id5  Masculino
2  0  0  10  3   0   id2  Masculino
3  0  1   7  5   7  id10   Femenino

In [ ]:
#import numpy as np
df2 = pd.DataFrame(
    np.random.randint(1,11, 25).reshape([5, 5]),
    columns = ["b", "c", "d", "e", "h"])

df2['ID'] = ["id1","id3", "id5", "id7", "id9"]
df2  # 3 * 4

    b  c   d  e   h   ID
0   4  9   7  8   2  id1
1   9  4   4  6   2  id3
2  10  3   2  4   1  id5
3   8  7  10  3   2  id7
4   2  1   1  9  10  id9

Colocamos **sort = False** para evitar que se muestre un aviso al respecto de cierto cambio de funcionalidad que se produzaca en futuras versiones de Pandas.

In [ ]:
# Unimos los dos dataframes según la etiqueta de las columnas
pd.concat([df1, df2], sort= False)

     a   b   c   d   e    ID          f     h
0  2.0   5   3   2   7   id3  Masculino   NaN
1  0.0   7   6   4  10   id5  Masculino   NaN
2  0.0   0  10   3   0   id2  Masculino   NaN
3  0.0   1   7   5   7  id10   Femenino   NaN
0  NaN   4   9   7   8   id1        NaN   2.0
1  NaN   9   4   4   6   id3        NaN   2.0
2  NaN  10   3   2   4   id5        NaN   1.0
3  NaN   8   7  10   3   id7        NaN   2.0
4  NaN   2   1   1   9   id9        NaN  10.0

In [ ]:
# Unimos los dos DataFrame's a lo largo de la columna
# Según el Index

pd.concat([df1, df2], axis = 1, sort = False)

     a    b     c    d     e    ID          f   b  c   d  e   h   ID
0  2.0  5.0   3.0  2.0   7.0   id3  Masculino   4  9   7  8   2  id1
1  0.0  7.0   6.0  4.0  10.0   id5  Masculino   9  4   4  6   2  id3
2  0.0  0.0  10.0  3.0   0.0   id2  Masculino  10  3   2  4   1  id5
3  0.0  1.0   7.0  5.0   7.0  id10   Femenino   8  7  10  3   2  id7
4  NaN  NaN   NaN  NaN   NaN   NaN        NaN   2  1   1  9  10  id9

In [ ]:
# Unimos los dos DataFrame's a lo largo de la columna
# Según 1 o varias columnas

df1.merge(df2, on=["ID"], how='outer')

     a  b_x   c_x  d_x   e_x    ID          f   b_y  c_y   d_y  e_y     h
0  2.0  5.0   3.0  2.0   7.0   id3  Masculino   9.0  4.0   4.0  6.0   2.0
1  0.0  7.0   6.0  4.0  10.0   id5  Masculino  10.0  3.0   2.0  4.0   1.0
2  0.0  0.0  10.0  3.0   0.0   id2  Masculino   NaN  NaN   NaN  NaN   NaN
3  0.0  1.0   7.0  5.0   7.0  id10   Femenino   NaN  NaN   NaN  NaN   NaN
4  NaN  NaN   NaN  NaN   NaN   id1        NaN   4.0  9.0   7.0  8.0   2.0
5  NaN  NaN   NaN  NaN   NaN   id7        NaN   8.0  7.0  10.0  3.0   2.0
6  NaN  NaN   NaN  NaN   NaN   id9        NaN   2.0  1.0   1.0  9.0  10.0

### Tipo: Inner

In [ ]:
# Intersección (y) a nivel de columnas
pd.concat([df1, df2], join = "inner")  # Sólo las columnas que son comunes

    b   c   d   e    ID
0   5   3   2   7   id3
1   7   6   4  10   id5
2   0  10   3   0   id2
3   1   7   5   7  id10
0   4   9   7   8   id1
1   9   4   4   6   id3
2  10   3   2   4   id5
3   8   7  10   3   id7
4   2   1   1   9   id9

In [ ]:
# Intersección (y) a nivel de filas
pd.concat([df1, df2], axis = 1, join = "inner") #, ignore_index=True) # sólo las filas que son comunes

   a  b   c  d   e    ID          f   b  c   d  e  h   ID
0  2  5   3  2   7   id3  Masculino   4  9   7  8  2  id1
1  0  7   6  4  10   id5  Masculino   9  4   4  6  2  id3
2  0  0  10  3   0   id2  Masculino  10  3   2  4  1  id5
3  0  1   7  5   7  id10   Femenino   8  7  10  3  2  id7

In [ ]:
# Unimos los dos DataFrame's a lo largo de la columna (i)
# Según 1 o varias columnas

df1.merge(df2, on=["ID"], how='inner')

   a  b_x  c_x  d_x  e_x   ID          f  b_y  c_y  d_y  e_y  h
0  2    5    3    2    7  id3  Masculino    9    4    4    6  2
1  0    7    6    4   10  id5  Masculino   10    3    2    4  1

### Tipo: Left

In [ ]:
# Unimos los dos DataFrame's: Base DataFrame Izquierdo
# Según 1 o varias columnas

df1.merge(df2, on=["ID"], how='left')

   a  b_x  c_x  d_x  e_x    ID          f   b_y  c_y  d_y  e_y    h
0  2    5    3    2    7   id3  Masculino   9.0  4.0  4.0  6.0  2.0
1  0    7    6    4   10   id5  Masculino  10.0  3.0  2.0  4.0  1.0
2  0    0   10    3    0   id2  Masculino   NaN  NaN  NaN  NaN  NaN
3  0    1    7    5    7  id10   Femenino   NaN  NaN  NaN  NaN  NaN

### Tipo: Right

In [ ]:
# Unimos los dos DataFrame's: Base DataFrame Derecho
# Según 1 o varias columnas

df1.merge(df2, on=["ID"], how='right')

     a  b_x  c_x  d_x   e_x   ID          f  b_y  c_y  d_y  e_y   h
0  NaN  NaN  NaN  NaN   NaN  id1        NaN    4    9    7    8   2
1  2.0  5.0  3.0  2.0   7.0  id3  Masculino    9    4    4    6   2
2  0.0  7.0  6.0  4.0  10.0  id5  Masculino   10    3    2    4   1
3  NaN  NaN  NaN  NaN   NaN  id7        NaN    8    7   10    3   2
4  NaN  NaN  NaN  NaN   NaN  id9        NaN    2    1    1    9  10

In [ ]:
df6

            a   b   c   d   e    ID          f  g
2022-01-01  3   4   6   5   2   id1   Femenino  R
2022-01-02  0   0  10   3   0   id2  Masculino  N
2022-01-03  2   5   3   2   7   id3  Masculino  R
2022-01-04  4   7   6   3   1   id4   Femenino  N
2022-01-05  0   7   6   4  10   id5  Masculino  R
2022-01-06  6  10   0   8   0   id6   Femenino  N
2022-01-07  2   9   2   6   9   id7  Masculino  N
2022-01-08  5   8  10   2   7   id8   Femenino  N
2022-01-09  4   7  10  10  10   id9  Masculino  N
2022-01-10  0   1   7   5   7  id10   Femenino  N

# Pivot

Permite construir un nuevo dataframe a partir de otro, de tal forma que los valores de una columna pasan a ser nombres de columna del nuevo dataframe.

Fijar las características del nuevo DataFrame:
- Index 
- Columnas
- Valores

Muy útil para el tratamiento de datos.

In [ ]:
pd.pivot_table(df6, values="d", index=["f", "g"]) # 2 index cualitativas por la columna d

                    d
f         g
Femenino  N  4.500000
          R  5.000000
Masculino N  6.333333
          R  3.000000

In [ ]:
# Forma 1
df6_pivot = pd.pivot_table(df6, values="d", index=["f", "g"], columns=["e"]) # 2 index por la columna d y como columna e
df6_pivot

e             0    1    2    7    9     10
f         g
Femenino  N  8.0  3.0  NaN  3.5  NaN   NaN
          R  NaN  NaN  5.0  NaN  NaN   NaN
Masculino N  3.0  NaN  NaN  NaN  6.0  10.0
          R  NaN  NaN  NaN  2.0  NaN   4.0

In [ ]:
# Forma 2
df6.pivot_table(index = ['f', 'g'], columns = 'e', values = 'd', fill_value = 2.5)  # Los NaN reemplazando por un valor

e             0    1    2    7    9     10
f         g
Femenino  N  8.0  3.0  2.5  3.5  2.5   2.5
          R  2.5  2.5  5.0  2.5  2.5   2.5
Masculino N  3.0  2.5  2.5  2.5  6.0  10.0
          R  2.5  2.5  2.5  2.0  2.5   4.0

In [ ]:
df6.pivot_table(index = ['f'], columns = ['g'], values = 'a', aggfunc = np.mean, fill_value=0) # sumamos los valores

e          0   1   2    7   9   10
f
Femenino    6   4   3  2.5   0   0
Masculino   0   0   0  2.0   2   2

# Unpivot

In [ ]:
df6_pivot

e             0    1    2    7    9     10
f         g
Femenino  N  8.0  3.0  NaN  3.5  NaN   NaN
          R  NaN  NaN  5.0  NaN  NaN   NaN
Masculino N  3.0  NaN  NaN  NaN  6.0  10.0
          R  NaN  NaN  NaN  2.0  NaN   4.0

In [ ]:
df6c = df6_pivot.stack().reset_index().sort_values(by=['f', 'g','e'])#.rename(columns = {"0"})
df6c

           f  g   e     0
0   Femenino  N   0   8.0
1   Femenino  N   1   3.0
2   Femenino  N   7   3.5
3   Femenino  R   2   5.0
4  Masculino  N   0   3.0
5  Masculino  N   9   6.0
6  Masculino  N  10  10.0
7  Masculino  R   7   2.0
8  Masculino  R  10   4.0

In [ ]:
df6c[df6c['f']=='Masculino']

           f  g   e     0
4  Masculino  N   0   3.0
5  Masculino  N   9   6.0
6  Masculino  N  10  10.0
7  Masculino  R   7   2.0
8  Masculino  R  10   4.0

# Datos Duplicados

El método duplicated de la clase DataFrame permite identificar filas repetidas; cuyo resultado es de tipo **Bool**, donde el valor **True** indica que ya existe, caso contrario será **False** .

![datos duplicados.jpg]()

In [ ]:
df7 = pd.DataFrame([['Perú', 10200],  # generando data para nuestros ejemplos
       ['Brasil', 11506],
       ['Brasil', 11506],
       ['Chile', 5500],
       ['Perú', 10200],
       ['Chile', 23], 
       ['Ecuador', 10000],
       ['Perú', 2560]], 
       columns = ['Pais', 'Cifra'])
df7

      Pais  Cifra
0     Perú  10200
1   Brasil  11506
2   Brasil  11506
3    Chile   5500
4     Perú  10200
5    Chile     23
6  Ecuador  10000
7     Perú   2560

In [ ]:
df7.duplicated() #Se está revisando a nivel de todas las columnas

0    False
1    False
2     True
3    False
4     True
5    False
6    False
7    False
dtype: bool

In [ ]:
# Extraer en un nuevo DataFrame todos los duplicados
df7[df7.duplicated()] # True

     Pais  Cifra
2  Brasil  11506
4    Perú  10200

In [ ]:
# Eliminar datos duplicados
df7.drop_duplicates() # nos deja el DataFrame sin los datos duplicados

      Pais  Cifra
0     Perú  10200
1   Brasil  11506
3    Chile   5500
5    Chile     23
6  Ecuador  10000
7     Perú   2560

In [ ]:
df7  # si se desea mantener el cambio, almacenar en un contenedor

      Pais  Cifra
0     Perú  10200
1   Brasil  11506
2   Brasil  11506
3    Chile   5500
4     Perú  10200
5    Chile     23
6  Ecuador  10000
7     Perú   2560

In [ ]:
# Eliminar duplicados por ciertas columnas en específico

df7.drop_duplicates(subset = ['Pais'])  # mantuvo el 1ro y eliminó el resto de duplicados

      Pais  Cifra
0     Perú  10200
1   Brasil  11506
3    Chile   5500
6  Ecuador  10000

In [ ]:
# Eliminar todas las filas repetidas, pero no la última "keep"

df7.drop_duplicates(subset = ['Pais'], keep = 'last')

      Pais  Cifra
2   Brasil  11506
5    Chile     23
6  Ecuador  10000
7     Perú   2560

# Cargar datos de archivos

In [ ]:
#cargamos la data desde nuestra PC
from google.colab import files
files.upload()

Saving Data - Riesgos.csv to Data - Riesgos.csv

{'Data - Riesgos.csv': b'ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo\r\n2208,33,128,6,3230,192,2,3,2,1\r\n2211,32,185,7,2930,217,2,1,5,1\r\n2212,28,,7,1883.7,202,2,1,2,1\r\n2216,56,200,0,850,194,2,1,5,1\r\n2218,32,131,65,3200,200,2,1,2,1\r\n2219,34,145,6,7000,196,2,5,2,1\r\n2226,,114,0,2171.5,178,2,2,1,1\r\n2227,27,116,0,800,169,2,1,5,1\r\n2228,26,182,6,3150,190,4,3,5,1\r\n2230,25,154,1,2600,189,2,1,2,1\r\n2233,49,203,0,6350,224,4,1,2,1\r\n2234,49,159,0,3330,221,2,1,5,1\r\n2235,28,127,0,1400,177,2,1,5,1\r\n2236,30,137,0,6000,192,2,1,5,1\r\n2238,45,151,18,1050,173,2,4,5,1\r\n2240,21,118,0,,175,4,1,5,1\r\n2244,37,330,8,2432,174,2,3,5,1\r\n2247,36,257,0,1400,186,2,3,2,1\r\n2248,32,163,0,3000,175,2,3,5,1\r\n2252,25,128,0,889.98,169,2,1,5,1\r\n2254,32,127,0,1200,175,2,1,5,1\r\n2258,38,151,0,2000,180,2,1,5,1\r\n2261,26,148,12,2052.84,196,2,1,2,1\r\n2262,26,142,21,1500,178,2,3,2,1\r\n2263,40,130,5,3486.7,216,4,2,5,1\r\n2264,30,119,0,2833.55,211,2,1,5,1\r\n2267,24,110,0,909.03,156,2,1,5,1\r\n2269,35,184,0,9072,210,4,3,5,1\r\n2270,29,147,0,1500,196,4,1,5,1\r\n2274,23,162,8,1117.6,168,4,5,5,1\r\n2276,31,193,23,,213,4,1,1,1\r\n2277,38,150,7,11477,189,4,1,2,1\r\n2282,53,277,0,1200,183,2,1,5,1\r\n2285,29,152,16,8500,173,2,1,2,1\r\n2290,,182,0,5000,214,4,1,2,1\r\n2291,29,150,0,8300,192,2,3,5,1\r\n2292,34,162,0,2580,213,2,1,5,1\r\n2293,22,95,14,7200,181,2,1,2,1\r\n2294,22,124,0,899.6,175,4,1,5,1\r\n2295,29,122,0,1300,175,2,1,5,1\r\n2298,31,128,14,1460,170,2,4,5,1\r\n2299,27,164,0,3914,196,2,1,5,1\r\n2300,25,133,0,966.06,188,4,4,5,1\r\n2306,48,181,0,6800,205,2,1,2,1\r\n2309,25,144,0,795.66,163,3,1,5,1\r\n2310,32,222,6,2613.41,214,2,1,2,1\r\n2315,28,130,12,608.6,194,2,1,5,1\r\n2316,37,144,3,2500,187,2,1,5,1\r\n2317,23,127,12,2142,176,2,1,2,1\r\n2318,21,131,,1200,175,2,1,5,1\r\n2319,27,126,0,840,154,2,1,5,1\r\n2322,30,150,8,4000,193,2,1,2,1\r\n2323,25,126,0,1071.59,169,2,1,5,1\r\n2324,34,182,42,2248.76,219,4,4,2,1\r\n2325,38,117,0,909.1,171,2,1,2,1\r\n2326,30,117,0,3350,219,2,1,2,1\r\n2327,,147,14,593.57,188,2,1,5,1\r\n2328,71,126,12,2824.63,230,4,1,5,1\r\n2330,33,151,18,2100,175,2,3,2,1\r\n2331,,116,0,901.51,168,4,1,5,1\r\n2334,31,119,0,1168,168,2,3,5,1\r\n2335,21,145,0,851.55,156,2,1,5,1\r\n2336,45,161,0,19558.36,240,4,1,1,1\r\n2337,64,210,0,415,194,2,1,5,1\r\n2339,42,125,0,1200,183,2,1,2,1\r\n2340,41,157,20,9755,224,2,1,2,1\r\n2341,30,136,11,,173,2,1,2,1\r\n2343,42,134,0,1206.88,180,2,3,5,1\r\n2344,25,131,0,800,163,2,1,2,1\r\n2347,35,121,0,1800,182,2,2,5,1\r\n2349,35,126,0,2347.96,194,2,5,5,1\r\n2350,41,262,80,3500,199,4,1,2,1\r\n2351,48,142,12,2300,214,4,1,5,1\r\n2356,30,134,0,3500,219,4,2,2,1\r\n2358,39,147,96,2000,182,2,1,2,1\r\n2359,30,134,11,1600,181,2,1,2,1\r\n2360,25,127,0,1200,169,2,1,5,1\r\n2362,43,129,0,1239.3,201,4,4,5,1\r\n2363,43,179,0,1700,156,2,3,5,1\r\n2364,41,156,25,2750,216,2,1,5,1\r\n2365,34,178,8,3800,216,2,1,2,1\r\n2366,26,150,0,6600,188,4,1,2,1\r\n2367,22,162,23,3400,192,2,3,5,1\r\n2368,,149,17,2300,187,2,1,2,1\r\n2370,43,241,0,5500,205,2,1,2,1\r\n2373,46,181,80,9300,208,4,1,5,1\r\n2374,22,162,24,3400,192,2,3,5,1\r\n2375,20,121,0,663.75,156,2,1,5,1\r\n2378,28,142,14,2100,186,2,1,5,1\r\n2380,29,148,8,700,188,2,3,2,1\r\n2381,23,111,7,2100,214,2,1,4,1\r\n2382,29,107,11,3178.5,192,2,1,5,1\r\n2383,27,126,0,2052.82,193,4,4,5,1\r\n2384,31,218,0,3300.33,202,1,1,2,1\r\n2385,24,166,0,,176,2,1,2,1\r\n2387,41,141,0,3420.36,214,4,2,1,1\r\n2389,29,159,17,1157.06,163,2,4,2,1\r\n2391,27,122,,2000,188,2,1,2,1\r\n2392,35,111,0,812.53,177,2,1,5,1\r\n2394,28,137,0,2000,175,3,1,5,1\r\n2395,31,130,2,2500,200,2,1,2,1\r\n2401,26,166,7,1444.53,169,2,2,5,1\r\n2402,55,153,17,2069,179,2,1,5,1\r\n2404,27,129,0,800,169,2,1,5,1\r\n2405,28,138,0,1400,185,2,1,2,1\r\n2408,34,117,0,1012.85,170,2,1,5,1\r\n2409,,145,0,1350,156,2,3,5,1\r\n2410,33,186,10,2120,186,1,3,2,1\r\n2411,46,140,0,1500,182,2,1,5,1\r\n2412,29,126,7,767.18,178,2,1,2,1\r\n2413,41,172,10,1200,200,2,1,2,1\r\n2415,43,138,40,2000,185,2,1,5,1\r\n2416,36,171,19,1530,177,2,3,5,1\r\n2418,43,177,11,6000,170,2,3,2,1\r\n2420,30,175,39,6000,180,2,1,2,1\r\n2421,36,194,42,1600,180,2,1,5,1\r\n2422,25,131,0,711.92,191,4,1,4,1\r\n2424,34,131,10,4220,188,2,2,2,1\r\n2428,30,131,0,1468.04,176,3,1,5,1\r\n2432,33,141,15,1424,204,4,1,2,1\r\n2434,31,157,0,800,194,2,1,5,1\r\n2436,48,136,0,1800,204,4,3,5,1\r\n2437,46,234,0,1800,186,2,1,5,1\r\n2438,28,110,7,1536.01,194,2,1,5,1\r\n2439,21,145,0,1233.13,175,4,1,5,1\r\n2440,32,183,0,2000,199,2,3,5,1\r\n2441,47,128,8,1420,182,2,1,5,1\r\n2444,33,130,15,1642.18,180,2,3,1,1\r\n2445,27,222,24,3541.83,197,2,1,5,1\r\n2446,28,189,36,3000,190,2,3,5,1\r\n2447,33,196,8,2200,172,2,1,5,1\r\n2448,24,135,34,1375.52,158,2,1,5,1\r\n2449,23,119,27,1900,163,2,3,3,1\r\n2451,36,122,0,1245.59,182,2,1,5,1\r\n2454,26,134,7,673.73,169,2,1,5,1\r\n2455,31,128,0,3367.12,219,2,1,2,1\r\n2459,33,180,65,30000,235,4,3,2,1\r\n2462,34,,29,1600,175,2,1,5,1\r\n2463,48,461,81,4362,173,4,1,2,1\r\n2464,23,133,0,4500,173,2,3,5,1\r\n2466,41,127,0,2073.76,216,4,1,5,1\r\n2467,27,117,0,850.3,162,2,2,5,1\r\n2468,37,193,39,780,155,2,1,5,1\r\n2470,27,116,0,856.46,193,2,3,5,1\r\n2472,48,156,22,2100,181,4,1,1,1\r\n2473,54,122,0,1500,215,4,3,5,1\r\n2476,33,122,0,674.95,215,4,1,5,1\r\n2480,30,193,62,2600,204,4,4,5,1\r\n2482,33,170,46,3000,195,2,1,2,1\r\n2483,61,175,0,1200,194,2,5,5,1\r\n2486,29,177,0,1428,204,2,1,1,1\r\n2487,21,156,0,900,173,2,1,5,1\r\n2488,36,166,0,1800,182,2,3,5,1\r\n2489,63,325,0,1231.36,194,2,1,5,1\r\n2492,27,142,0,823.54,169,2,1,5,1\r\n2493,38,150,51,5000,194,2,1,5,1\r\n2495,37,138,0,741.71,175,2,1,1,1\r\n2496,,205,59,15531,197,2,3,2,1\r\n2498,27,179,31,2400,205,2,3,2,1\r\n2499,51,124,7,1200,166,3,1,5,1\r\n2501,51,117,0,711.96,192,2,1,5,1\r\n2505,40,198,0,1600,186,2,3,2,1\r\n2507,35,141,17,7000,221,4,1,2,1\r\n2508,29,138,0,1300,175,2,1,5,1\r\n2509,24,129,0,1400,179,2,1,4,1\r\n2512,40,185,37,4699,178,2,3,2,1\r\n2514,30,145,0,1050,175,2,2,5,1\r\n2515,40,126,0,1944.24,185,2,1,5,1\r\n2518,33,168,0,1400,177,2,1,5,1\r\n2519,30,160,40,4000,219,2,1,2,1\r\n2521,42,159,14,2150,197,2,1,5,1\r\n2523,27,198,0,20000,194,2,1,2,1\r\n2524,54,134,110,2500,224,4,3,2,1\r\n2525,21,117,0,891.34,175,2,1,5,1\r\n2526,31,191,39,5200,175,2,2,2,1\r\n2529,26,113,0,686.42,169,2,5,5,1\r\n2530,53,149,0,1500,201,2,1,5,1\r\n2531,46,194,0,1600,194,4,3,5,1\r\n2533,46,135,16,1200,180,2,1,5,1\r\n2534,23,108,0,1056.56,159,2,1,2,1\r\n2535,35,130,,18265,201,4,3,2,1\r\n2536,21,133,0,5000,178,2,1,1,1\r\n2537,30,147,2,3500,188,2,1,2,1\r\n2538,40,160,7,3500,204,2,1,2,1\r\n2539,31,132,23,2100,202,2,1,5,1\r\n2540,29,117,0,900,194,2,3,5,1\r\n2543,35,210,0,5000,190,2,3,1,1\r\n2545,49,182,14,2900,216,4,3,5,1\r\n2546,32,132,0,1715.49,180,2,1,5,1\r\n2547,33,121,0,700,208,4,1,5,1\r\n2549,39,143,0,2100,177,2,3,2,1\r\n2550,23,110,0,2100,192,2,1,5,1\r\n2551,41,303,0,2200,196,2,1,5,1\r\n2555,36,189,46,3500,216,2,3,2,1\r\n2556,31,157,0,1800,180,2,1,5,1\r\n2557,32,158,21,900,192,4,1,1,1\r\n2558,23,117,0,1500,151,2,1,5,1\r\n2559,47,138,102,900,180,2,1,5,1\r\n2560,38,126,14,2200,226,4,3,2,1\r\n2566,35,117,0,2249.97,185,2,3,1,1\r\n2567,30,129,0,866.4,175,2,3,5,1\r\n2568,26,155,15,3200,227,2,1,2,1\r\n2571,29,196,0,759.27,173,2,3,5,1\r\n2572,30,182,27,2100,192,2,1,5,1\r\n2578,55,498,0,2307,230,4,1,5,1\r\n2581,27,132,0,679.54,196,2,3,2,1\r\n2583,28,121,4,1200,178,2,1,2,1\r\n2584,25,129,0,869.84,169,2,1,5,1\r\n2585,25,128,2,800,169,2,1,5,1\r\n2587,,257,0,3905,185,2,1,5,1\r\n2589,41,259,84,2100,177,2,1,5,1\r\n2590,25,153,0,1945,169,2,4,2,1\r\n2591,33,139,8,1500,216,4,3,2,1\r\n2592,23,123,0,721.62,156,2,3,5,1\r\n2593,32,157,0,2120,226,2,1,2,1\r\n2596,31,195,8,1500,199,2,1,2,1\r\n2598,28,178,36,1800,187,2,1,2,1\r\n2599,24,122,0,2146.48,154,2,4,5,1\r\n2602,34,128,0,1800,201,4,1,5,1\r\n2604,23,138,13,1200,176,2,1,2,1\r\n2606,29,133,7,7073,195,2,3,2,1\r\n2609,33,118,0,1105.43,187,4,2,5,1\r\n2612,54,148,0,1353.46,185,2,1,5,1\r\n2613,42,363,21,2300,195,2,2,5,1\r\n2615,27,124,12,995.42,188,4,1,5,1\r\n2616,23,,28,1094.69,175,4,1,5,1\r\n2617,45,148,28,9000,199,2,5,2,1\r\n2619,35,186,0,1300,189,2,1,5,1\r\n2621,30,145,0,2000,221,4,3,2,1\r\n2628,28,146,20,3800,195,2,3,2,1\r\n2629,45,200,42,6000,223,4,1,2,1\r\n2634,23,127,0,1510.49,194,4,1,5,1\r\n2635,21,143,0,2085.06,159,3,3,5,1\r\n2637,24,160,20,1268.28,175,4,1,5,1\r\n2638,37,162,21,700,189,4,1,5,1\r\n2640,22,125,0,790.22,156,2,2,5,1\r\n2643,34,191,48,2400,190,2,1,2,1\r\n2644,35,137,11,1245.07,179,2,3,5,1\r\n2645,35,130,0,1200,177,2,1,5,1\r\n2646,34,158,0,2200,194,2,1,5,1\r\n2654,23,130,0,932.46,175,4,1,5,1\r\n2656,25,127,0,656.49,169,2,1,5,1\r\n2658,23,169,0,10000,175,2,1,2,1\r\n2660,30,246,0,800,192,2,1,5,1\r\n2662,25,113,,5500,189,2,1,2,1\r\n2663,39,187,81,8546,183,4,5,2,1\r\n2664,36,180,44,1617.92,177,2,1,5,1\r\n2666,34,140,0,1400,192,4,1,2,1\r\n2668,25,141,0,730,169,2,1,5,1\r\n2669,45,178,7,4000,193,2,1,2,1\r\n2672,37,159,24,1000,184,2,1,2,1\r\n2673,57,318,11,4176.35,211,2,1,5,1\r\n2675,33,211,8,2800,195,2,5,2,1\r\n2676,48,212,30,5000,181,2,1,5,1\r\n2678,27,124,0,1432.86,171,2,1,5,1\r\n2679,32,181,0,770,175,2,3,5,1\r\n2682,43,230,90,26400,236,4,1,2,1\r\n2683,36,156,0,10604,193,4,3,5,1\r\n2687,54,126,9,2000,205,2,1,2,1\r\n2688,,160,0,773,192,2,1,5,1\r\n2689,33,118,0,1298.25,175,2,2,5,1\r\n2691,49,120,0,5556.01,216,4,4,5,1\r\n2692,25,138,0,995.5,169,2,1,5,1\r\n2694,24,120,5,667.63,188,4,1,5,1\r\n2697,30,152,19,2300,199,2,1,5,1\r\n2699,46,210,0,2100,194,4,1,5,1\r\n2700,40,146,0,1100,177,2,1,5,1\r\n2703,43,138,0,800,178,2,1,5,1\r\n2705,31,110,11,3000,200,2,1,2,1\r\n2707,24,129,0,1004,154,2,1,1,1\r\n2710,24,122,0,695.48,169,2,1,5,1\r\n2711,27,173,11,2650,186,2,1,5,1\r\n2712,44,166,0,2800,209,2,1,2,1\r\n2713,22,130,0,1357.55,156,2,1,5,1\r\n2714,47,180,9,14250,192,4,3,2,1\r\n2716,50,186,0,13046,216,4,1,2,1\r\n2717,22,118,0,700,159,2,1,2,1\r\n2719,48,182,0,1097.93,180,2,1,5,1\r\n2720,29,210,28,2100,211,4,3,5,1\r\n2721,28,173,0,2000,195,2,1,5,1\r\n2722,33,170,0,1483,182,2,3,1,1\r\n2724,25,129,0,1720.24,177,4,2,5,1\r\n2725,35,159,16,10000,216,4,1,2,1\r\n2727,32,151,8,2000,188,2,1,2,1\r\n2728,49,138,23,2559.7,190,2,4,5,1\r\n2732,44,210,30,1706.5,197,2,1,5,1\r\n2735,32,118,17,966.89,175,2,1,5,1\r\n2736,27,162,0,992.51,166,2,3,1,1\r\n2738,27,156,43,4200,213,2,3,2,1\r\n2739,32,152,0,2400,200,2,5,2,1\r\n2744,49,175,18,1000,189,4,1,5,1\r\n2745,36,163,0,1300,177,2,1,5,1\r\n2746,36,165,0,769.67,196,4,4,5,1\r\n2747,52,196,0,4500,217,4,1,4,1\r\n2749,50,163,30,5311.46,204,2,1,4,1\r\n2750,30,151,9,3500,209,4,5,5,1\r\n2757,48,177,0,3500,194,4,1,5,1\r\n2758,24,125,0,3250.4,184,2,2,1,1\r\n2759,30,,28,1200,175,2,1,5,1\r\n2761,35,125,0,970.18,204,4,1,2,1\r\n2763,23,156,0,1000,200,2,1,5,1\r\n2764,41,113,32,1354.82,180,2,5,5,1\r\n2765,35,210,0,6300,213,2,3,5,1\r\n2766,40,214,31,2800,191,2,1,2,1\r\n2767,24,121,4,613.75,156,2,1,5,1\r\n2769,25,158,11,5300,194,2,1,2,1\r\n2770,30,130,14,1400,170,2,2,5,1\r\n2771,39,174,13,2000,221,2,1,2,1\r\n2778,31,121,0,1900,173,2,3,5,1\r\n2782,37,122,0,800,157,2,1,5,1\r\n2784,59,156,0,5212.22,189,2,1,5,1\r\n2788,35,255,21,1500,220,4,3,2,1\r\n2789,43,140,8,,200,2,3,2,1\r\n2791,32,196,10,3000,238,4,1,2,1\r\n2792,,177,0,1381.97,178,4,1,5,1\r\n2799,28,169,26,2000,187,2,3,2,1\r\n2800,25,142,0,1200,207,4,1,5,1\r\n2801,39,135,0,3000,194,2,1,5,1\r\n2802,35,116,5,2298.55,202,2,1,2,1\r\n2804,30,188,0,2800,192,2,1,5,1\r\n2809,37,143,12,3975,202,2,3,2,1\r\n2811,29,131,8,2500,214,4,2,2,1\r\n2813,25,135,0,1175,188,2,5,5,1\r\n2814,31,152,39,2362.12,200,2,4,2,1\r\n2815,26,138,19,1099.9,171,2,1,5,1\r\n2816,27,142,0,500.25,167,2,3,1,1\r\n2817,37,268,0,870,177,2,3,5,1\r\n2819,28,140,0,1400,169,2,5,5,1\r\n2820,60,129,0,2300,209,2,3,1,1\r\n2822,35,283,0,3800,221,4,1,2,1\r\n2823,24,181,0,1434.17,164,2,1,2,1\r\n2825,34,267,0,700,177,2,3,5,1\r\n2827,30,173,21,1000,175,2,1,5,1\r\n2831,26,210,15,2100,186,2,1,5,1\r\n2833,28,114,9,1544.36,202,2,1,2,1\r\n2834,29,134,53,3000,195,2,1,2,1\r\n2835,37,136,12,2500,213,4,5,5,1\r\n2836,32,169,26,2450,191,2,5,5,1\r\n2838,21,137,0,1471.84,177,2,1,5,1\r\n2839,23,142,9,2300.07,161,2,3,5,1\r\n2842,34,144,0,12754,194,2,3,2,1\r\n2843,48,142,0,5138.16,205,2,1,2,1\r\n2845,27,112,10,918.32,196,2,1,2,1\r\n2846,48,128,15,665.23,180,2,1,5,1\r\n2847,30,145,13,3500,200,2,3,2,1\r\n2848,43,194,0,786.63,218,4,5,5,1\r\n2853,21,121,0,700,178,2,1,2,1\r\n2854,29,202,0,4000,187,2,1,2,1\r\n2856,27,136,0,1800,174,2,3,5,1\r\n2857,21,104,0,1200,156,2,1,5,1\r\n2858,26,121,0,2000,187,4,3,2,1\r\n2859,25,117,0,2258.01,181,2,5,2,1\r\n2860,34,150,0,12754,187,2,3,2,1\r\n2861,25,119,0,898.06,169,2,1,5,1\r\n2862,35,132,112,6000,197,2,5,2,1\r\n2865,45,256,0,1200,170,2,1,1,1\r\n2866,29,174,26,2500,202,2,3,2,1\r\n2869,28,134,0,1668.98,171,2,1,5,1\r\n2872,45,118,0,2500,216,4,1,5,1\r\n2873,58,210,71,10000,210,4,1,5,1\r\n2874,35,156,9,3500,202,2,3,2,1\r\n2875,27,145,28,3000,189,2,1,2,1\r\n2876,34,183,0,1000,177,2,2,5,1\r\n2882,40,142,0,1200,207,2,3,2,1\r\n2886,28,174,22,1030,175,2,3,5,1\r\n2887,26,150,16,1454.75,173,2,3,2,1\r\n2890,37,148,0,1538,170,2,2,1,1\r\n2894,26,137,22,1500,171,2,1,5,1\r\n2899,35,133,18,1112.6,177,2,1,5,1\r\n2900,28,152,15,2630,190,2,2,5,1\r\n2902,26,162,39,619.79,160,2,1,1,1\r\n2907,36,174,22,1050,177,2,1,5,1\r\n2908,32,152,0,2170,186,2,2,4,1\r\n2909,29,131,0,3000,192,2,1,5,1\r\n2912,35,198,0,1101.31,196,4,4,5,1\r\n2913,31,141,0,1580,196,4,1,5,1\r\n2919,28,149,29,950,188,2,1,5,1\r\n2920,34,129,0,1100,177,2,3,5,1\r\n2921,29,153,0,1400.99,194,4,1,5,1\r\n2923,27,130,33,3000,194,2,3,2,1\r\n2924,35,133,17,1300,204,2,1,2,1\r\n2926,32,157,0,910.72,175,2,1,5,1\r\n2927,30,,13,800,207,2,1,5,1\r\n2931,29,140,0,8625,214,4,1,2,1\r\n2932,25,157,19,3135,194,2,1,2,1\r\n2933,30,115,22,2400,192,2,5,5,1\r\n2934,45,150,61,9000,200,2,1,2,1\r\n2936,26,137,8,629.08,170,2,1,2,1\r\n2937,24,130,0,899.79,156,2,3,5,1\r\n2942,,158,0,1840,173,2,1,5,1\r\n2943,22,141,0,900,156,2,1,5,1\r\n2944,27,191,22,3401.75,206,2,3,2,1\r\n2948,29,160,25,5500,216,2,1,2,1\r\n2949,37,270,14,1600,162,2,3,5,1\r\n2951,28,150,14,11300,200,2,1,2,1\r\n2953,22,113,0,729.18,156,2,5,5,1\r\n2954,36,146,18,2500,202,2,1,2,1\r\n2958,31,257,10,2000,204,4,1,5,1\r\n2959,43,138,9,1562.55,197,4,4,5,1\r\n2960,28,137,0,3000,214,2,1,2,1\r\n2962,28,151,0,701.49,197,3,1,5,1\r\n2964,36,113,1,2000,197,2,1,2,1\r\n2968,34,181,43,2900,188,2,3,2,1\r\n2970,26,130,0,628.84,188,4,1,5,1\r\n2972,32,133,0,3150,185,2,3,5,1\r\n2973,35,198,32,8600,194,2,1,5,1\r\n2975,59,244,0,800,167,2,1,1,1\r\n2976,41,197,0,4705,204,4,4,2,1\r\n2977,58,231,0,1200,202,2,1,2,1\r\n2978,26,140,0,5261,208,2,1,2,1\r\n2983,25,131,10,878.27,169,2,1,5,1\r\n2984,40,133,0,1433.08,201,4,4,5,1\r\n2985,38,160,7,5005,201,2,1,2,1\r\n2986,39,183,20,1300,177,2,1,2,1\r\n2988,40,132,8,1522.24,180,2,3,5,1\r\n2989,35,179,39,3000,190,2,3,2,1\r\n2990,48,147,0,2000,200,2,1,2,1\r\n2993,29,140,0,1009.31,185,4,1,1,1\r\n2994,45,366,4,2992,195,2,1,5,1\r\n2997,37,165,66,3050,189,2,3,2,1\r\n3000,45,155,60,3000,205,2,1,2,1\r\n3002,26,177,0,1100,160,2,2,1,1\r\n3004,36,138,20,1760,182,2,3,5,1\r\n3008,45,118,7,1988.42,197,2,1,5,1\r\n3013,42,166,31,1700,165,2,1,5,1\r\n3014,28,171,18,1088.09,194,2,1,5,1\r\n3015,24,131,0,1017.82,154,2,1,1,1\r\n3017,31,112,0,2110.89,190,2,1,1,1\r\n3018,26,,0,933.27,181,4,1,5,1\r\n3020,22,130,8,1350,194,4,1,5,1\r\n3023,25,141,0,700,177,2,1,2,1\r\n3025,26,114,0,1367.51,177,2,5,2,1\r\n3026,41,130,0,800,160,2,3,5,1\r\n3030,39,159,14,803.52,177,2,3,5,1\r\n3032,33,185,0,1400,193,2,4,2,1\r\n3033,31,222,0,1000,208,2,3,2,1\r\n3034,27,138,3,2200,189,2,1,2,1\r\n3035,28,196,8,6657.3,186,2,1,5,1\r\n3036,29,166,0,2282.95,200,4,1,5,1\r\n3038,45,182,59,4500,216,4,5,5,1\r\n3043,24,110,6,838.09,197,4,1,2,1\r\n3044,30,193,35,2014,207,4,1,2,1\r\n3045,32,187,65,2133.35,180,2,1,5,1\r\n3046,28,210,20,1200,175,2,3,5,1\r\n3047,26,129,44,3500,194,2,1,2,1\r\n3048,35,222,89,4200,194,2,3,5,1\r\n3050,40,378,0,6500,204,4,3,2,1\r\n3053,60,550,0,752,199,2,1,5,1\r\n3054,22,140,0,1050,156,2,3,5,1\r\n3055,32,118,0,1797.29,176,3,2,5,1\r\n3058,21,150,0,1355.38,154,2,2,1,1\r\n3060,30,164,20,4200,193,2,3,2,1\r\n3061,26,149,36,1470.56,160,2,1,1,1\r\n3064,25,134,0,842.71,167,2,1,5,1\r\n3065,26,135,0,846.03,186,2,1,5,1\r\n3066,61,414,0,30000,218,4,3,2,1\r\n3068,25,131,22,1131.9,188,2,1,5,1\r\n3070,30,180,32,2001,207,2,2,2,1\r\n3076,30,145,0,2500,175,2,1,2,1\r\n3077,32,159,36,1200,166,2,5,5,1\r\n3078,24,181,0,1428,203,2,1,5,1\r\n3080,38,128,0,1325.7,177,2,1,5,1\r\n3081,28,198,35,2200,190,2,1,1,1\r\n3082,59,174,0,1500,199,2,1,2,1\r\n3083,36,128,0,2824.81,194,2,1,5,1\r\n3087,36,154,14,978,198,4,1,5,1\r\n3088,27,145,0,1034.44,168,2,1,5,1\r\n3091,24,169,0,4900,178,2,1,5,1\r\n3092,24,169,0,4900,178,2,1,5,1\r\n3093,38,197,24,3909.5,191,2,3,5,1\r\n3094,44,222,0,2000,187,4,4,2,1\r\n3095,28,115,10,800,168,2,3,5,1\r\n3098,42,140,25,3000,216,4,3,5,1\r\n3099,33,222,33,2500,204,2,1,5,1\r\n3101,28,128,7,2000,211,2,1,5,1\r\n3102,34,135,34,1750,182,2,1,2,1\r\n3103,30,121,81,1729,199,2,1,5,1\r\n3104,31,214,0,2501.8,185,2,3,2,1\r\n3105,45,183,12,2850,190,2,5,5,1\r\n3107,48,174,0,2030,195,2,1,2,1\r\n3108,40,146,13,1200,199,4,1,5,1\r\n3110,25,137,0,1377.55,169,2,1,5,1\r\n3111,36,167,40,3890.38,194,2,5,5,1\r\n3112,24,155,0,1170.93,161,2,1,5,1\r\n3120,37,196,0,1800,182,2,1,5,1\r\n3121,22,130,0,2100,209,2,3,4,1\r\n3122,31,221,60,3500,200,2,1,2,1\r\n3126,36,153,51,4700,201,4,1,2,1\r\n3128,32,147,10,2218.94,180,2,2,5,1\r\n3129,26,196,0,1650,202,2,1,5,1\r\n3130,29,186,16,2100,192,2,1,5,1\r\n3131,42,224,14,2000,178,2,1,5,1\r\n3132,36,198,0,1100,187,4,1,1,1\r\n3133,31,210,0,5300,195,2,1,2,1\r\n3134,32,133,0,1000,194,2,1,5,1\r\n3135,28,154,34,9879.25,192,2,5,5,1\r\n3137,30,125,0,800,194,2,1,5,1\r\n3140,55,142,0,1049.03,194,2,5,5,1\r\n3141,32,171,18,3380,219,2,1,2,1\r\n3143,33,162,47,3000,214,2,1,2,1\r\n3149,32,139,0,3300,193,2,1,2,1\r\n3153,48,119,0,3000,197,2,3,5,1\r\n3157,53,234,49,3000,216,4,3,5,1\r\n3158,58,165,0,9000,196,2,1,2,1\r\n3160,24,195,32,1000,156,2,1,5,1\r\n3161,43,192,93,13500,226,2,1,2,1\r\n3162,38,206,0,12630,239,4,4,5,1\r\n3164,35,130,14,2373,214,4,1,2,1\r\n3165,29,124,9,1691.22,168,2,3,1,1\r\n3167,30,142,14,3000,191,2,1,5,1\r\n3170,36,258,11,2321.93,201,2,3,2,1\r\n3171,31,201,12,652.52,175,2,3,5,1\r\n3173,32,126,0,1500,157,2,1,5,1\r\n3174,30,182,44,3000,211,4,3,5,1\r\n3175,37,163,15,4550,186,2,1,2,1\r\n3176,35,111,46,8121.78,195,3,1,5,1\r\n3177,32,122,0,2183.8,185,2,1,4,1\r\n3179,,178,18,2300,192,2,3,2,1\r\n3183,35,135,0,3000,182,2,5,2,1\r\n3184,25,146,0,1300,169,2,1,5,1\r\n3185,27,114,6,932.66,194,4,1,5,1\r\n3186,28,146,0,3000,228,4,1,2,1\r\n3188,27,142,34,3121.92,206,2,1,2,1\r\n3189,24,121,17,6500,161,2,3,2,1\r\n3194,32,168,24,2666.46,193,2,5,2,1\r\n3196,39,177,42,1502,179,2,1,5,1\r\n3198,34,126,7,1199.77,177,2,1,5,1\r\n3201,55,198,0,2100,230,2,1,3,1\r\n3202,36,149,6,2300,194,2,2,5,1\r\n3211,64,294,0,3000,228,4,1,5,1\r\n3213,47,186,0,3054.39,197,2,1,5,1\r\n3214,23,151,31,1309.46,157,3,1,5,1\r\n3216,27,140,0,2500,186,2,1,5,1\r\n3217,30,174,24,6700,200,2,1,2,1\r\n3218,32,147,28,1500,178,2,1,2,1\r\n3220,48,378,17,5500,185,2,1,2,1\r\n3221,31,134,0,744.16,175,2,1,5,1\r\n3222,22,114,0,1200,178,2,1,2,1\r\n3225,27,140,0,900,162,2,3,5,1\r\n3226,29,153,25,3100,200,2,1,2,1\r\n3229,41,280,98,6357,177,2,1,5,1\r\n3230,48,220,0,2038.83,204,4,2,5,1\r\n3231,24,123,0,1625.44,161,2,1,4,1\r\n3233,22,134,26,2000,197,2,3,4,1\r\n3236,26,149,11,1100,169,2,1,5,1\r\n3237,23,134,0,1245.44,156,2,1,5,1\r\n3241,36,157,0,800,204,2,1,2,1\r\n3242,34,138,17,980.45,177,2,1,5,1\r\n3243,27,160,17,5500,201,2,1,2,1\r\n3247,31,166,0,2681,185,2,1,5,1\r\n3249,28,134,0,548.65,194,4,1,5,1\r\n3251,37,269,10,4100,220,2,1,2,1\r\n3252,35,148,37,2200,194,2,1,5,1\r\n3255,47,237,44,6200,219,2,1,2,1\r\n3256,28,139,0,2300,193,2,1,2,1\r\n3257,35,164,14,1634.86,192,2,3,2,1\r\n3258,42,161,33,2250,199,2,3,2,1\r\n3260,28,170,31,7246,226,4,3,2,1\r\n3261,37,178,89,4500,197,2,1,2,1\r\n3263,23,118,8,839.11,183,2,5,4,1\r\n3264,29,187,11,2500,200,2,5,4,1\r\n3266,22,147,0,655.36,156,2,1,5,1\r\n3270,29,138,18,2000,188,2,1,2,1\r\n3271,30,155,14,4000,219,4,1,2,1\r\n3273,29,203,23,2311.8,223,4,1,5,1\r\n3274,29,146,37,1600,212,2,1,5,1\r\n3278,51,210,79,1200,203,4,1,2,1\r\n3280,37,146,0,4700,215,4,1,2,1\r\n3281,5

In [ ]:
df3 = pd.read_csv('Data - Riesgos.csv') # sep=';'
df3.head()

,ID,edad,meses,max_ant,ingreso,score,tipo_vivienda,zona,nivel,riesgo
0,2208,33.0,128.0,6.0,3230.0,192.0,2,3.0,2,1
1,2211,32.0,185.0,7.0,2930.0,217.0,2,1.0,5,1
2,2212,28.0,NaN,7.0,1883.7,202.0,2,1.0,2,1
3,2216,56.0,200.0,0.0,850.0,194.0,2,1.0,5,1
4,2218,32.0,131.0,65.0,3200.0,200.0,2,1.0,2,1

Muchas Gracias!

Equipo DATA & ANALYTICS